<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>手机-爱否</title>

<meta name="keywords" content="爱否商城,爱否科技商城,爱否手机" />
<meta name="description" content="爱否aifou.cn-手机频道,提供手机的网购、回收、维修服务,为您提供愉悦的网上购物体验!" />
<meta name="baidu-site-verification" content="PcteigWN18" />
<link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
<link href="__HCSS_PATH__/stylea.css" rel="stylesheet"/>
<script src="__HJS_PAYH__/jquery-2.1.1.min_1.js"></script>
<script src="__HJS_PAYH__/common.js"></script>
<script src="__HJS_PAYH__/aform.js"></script>
</head>
<body  data-tpage="分类" data-tproduct="iPhone 8 Plus" data-tuserid="">
<header class="m-header">
        <!--l-proBarClear l-onlyUupperPart -->
    <div class="header-c  l-key-pro">
        <div class="upper">
        <div class="headerW">
            <a class="logo" href="http://www.aifou.cn/">
                <img src="picture/logo_1.png" alt="爱否商城"/>
            </a>
            <nav class="nav">
                <a href="{:url('index/index')}">商城首页</a>
                <a href="http://www.aifou.cn/huishou">回收服务</a>
                <a href="http://www.aifou.cn/fix">手机维修</a>
            </nav>
            <!---->
            <div class="cart">
                <a class="cartStyle">
                    <i class="i-icon"></i>
                    <span>购物车</span> <em>0</em>                </a>
                <div class="m-user-cart">
                    <i class="i-icon arrow"></i>
                    <div class="wrap"></div>
                </div>
            </div>
            <div class="user">
                                <div class="login">
                    <a>登录</a>
                </div>
                <div class="login">
                    <a>我的订单</a>
                </div>
                            </div>
        </div>
        </div>
        <!--bottombar-->
        <div class="lower">
            <div class="headerW">
                <a class="logo" href="http://www.aifou.cn">
                    <img src="picture/logo_1.png" alt="爱否商城">
                </a>
                <ul class="product-bar">
                    <li><a href="http://www.aifou.cn/category/list/id/1.html" class="pointer" data-cid="1" >手机</a></li><li><a href="http://www.aifou.cn/category/list/id/2.html" class="pointer" data-cid="2" >平板</a></li><li><a href="http://www.aifou.cn/category/list/id/3.html" class="pointer" data-cid="3" >笔记本</a></li>                    <li><a class="n-per" href="http://www.aifou.cn/peripheral/list.html">精选配件</a></li>
                </ul>
           </div>
        </div>
        
    </div>
</header>
   <section class="m-plist w">
    <aside class="aside m-pmodel J_superSide" data-settings='{
            "header":"header",
            "headergap":60,
            "footer":".m-footer",
            "footergap":100,
            "content":".main"
        }'>
        <h3>手机</h3>
        <dl class="n">
            <dt><i class="i-icon"></i><span>Apple</span></dt>
            <dd><a title="iPhone 5s (8)"  href="/category/list/id/1/brand/1/model/5.html">iPhone 5s<span> (8)</span></a></dd> 
        	</dl>

        <dl class="n">
            <dt><i class="i-icon"></i><span>华为</span></dt>
            <dd><a title="Galaxy S7 Edge (8)"  href="/category/list/id/1/brand/10/model/31.html">Galaxy S7 Edge<span> (8)</span></a></dd><dd><a title="Galaxy S6 "  href="/category/list/id/1/brand/10/model/32.html">Galaxy S6</a></dd>
        </dl>
        <dl class="n">
            <dt><i class="i-icon"></i><span>小米</span></dt>
            <dd><a title="Galaxy S7 Edge (8)"  href="/category/list/id/1/brand/10/model/31.html">Galaxy S7 Edge<span> (8)</span></a></dd><dd><a title="Galaxy S6 "  href="/category/list/id/1/brand/10/model/32.html">Galaxy S6</a></dd>
        </dl>



<!-- 			<div class="m-filter">
            <div class="filter-hd">
                <span class="f-fl">筛选</span>
                <span class="f-fr">重置</span>
            </div>
            <ul>
                <li class="configure">
                    <strong>配置：</strong>
                    <div class="select">
                   <a data-i="4" data-col="" class="" href="/category/list/id/1/brand/1/model/72/configure/4.html">64G</a>                                                        <a data-i="16" data-col="" class="" href="/category/list/id/1/brand/1/model/72/configure/16.html">256G</a>                    </div>
                </li><li class="edition">
                    <strong>版本：</strong>
                    <div class="select">
                     <a data-i="17" data-col="" class="" href="/category/list/id/1/brand/1/model/72/edition/17.html">联通4G</a>                                                        <a data-i="21" data-col="" class="" href="/category/list/id/1/brand/1/model/72/edition/21.html">移动4G</a>                                                        <a data-i="24" data-col="" class="" href="/category/list/id/1/brand/1/model/72/edition/24.html">电信4G</a>                    </div>
                </li><li class="rank">
                    <strong>等级：</strong>
                    <div class="select">
                     <a data-i="1" data-col="" class="" href="/category/list/id/1/brand/1/model/72/rank/1.html">S级</a>
                    <a data-i="2" data-col="" class="" href="/category/list/id/1/brand/1/model/72/rank/2.html">A级</a>
                    <a data-i="3" data-col="" class="" href="/category/list/id/1/brand/1/model/72/rank/3.html">B级</a>
                    <a data-i="4" data-col="" class="" href="/category/list/id/1/brand/1/model/72/rank/4.html">C级</a>
                    <a data-i="5" data-col="" class="" href="/category/list/id/1/brand/1/model/72/rank/5.html">D级</a>
                 </div>
                </li>

                <li class="color">
                    <strong>颜色：</strong>
                   <div class="select">
                    <a data-i="1" data-col="#dddfde" title="银色" class=" " href="/category/list/id/1/brand/1/model/72/color/1.html" style="background-color: #dddfde;"></a>
                     <a data-i="2" data-col="#abaeb1" title="深空灰色" class=" " href="/category/list/id/1/brand/1/model/72/color/2.html" style="background-color: #abaeb1;"></a>
                    <a data-i="3" data-col="#e3d0ba" title="金色" class=" " href="/category/list/id/1/brand/1/model/72/color/3.html" style="background-color: #e3d0ba;"></a>
                  </div>
                </li>          
               </ul>
        </div>    </aside>
-->
   		 <article class="main">
        <div class="m-phead c">
           <!--  <div class="sort">
                <a><span>综合排序</span><i class="i-icon"></i></a>
                                <ul>
                    <li><a href="/category/list/id/1/brand/1/model/72/sort/1/direc/1.html">价格从低到高</a></li>
                    <li><a href="/category/list/id/1/brand/1/model/72/sort/1/direc/2.html">价格从高到低</a></li>
                </ul>
            </div> -->
        </div> 
        <p class="pointer" style="display:none;">为您找到了<em>6</em>件商品</p>
        <ul class="m-product-list c x06 xs020 m04 l03">
            <li class="g">
                <a href="" target="_blank">
                    <p class="thumb">
                    <img src="picture/aaf3517dea7b90e8c6bb73955c74825b_1.png" alt="iPhone 8 Plus 256G 联通4G/移动4G">
                    </p>
                    <span class="title" data-brand="1">iPhone 8 Plus 256G 联通4G/移动4G</span>
                     <em class="price">&#165;6799.00</em>            
                    <img class="level" src="picture/a_1.png" data-level='2'>
                </a>
        
            </li>
        </ul>
       </article>
</section>
<script>
    $(function(){
        var brand = {"1":"Apple","2":"Apple","6":"\u4f73\u80fd","7":"\u4f73\u80fd","8":"\u4e9a\u9a6c\u900a","9":"HTC","10":"\u4e09\u661f","11":"\u534e\u4e3a","12":"\u5c0f\u7c73","13":"\u82f9\u679c","14":"OPPO"};
        var level = {"1":"S","2":"A","3":"B","4":"C","5":"D","6":"S","7":"A","8":"B","9":"C","10":"D","11":"S","12":"A","13":"B","14":"C","15":"D","16":"S","17":"A","18":"B","19":"C","20":"D","21":"S","22":"A","23":"B","24":"C","25":"D","26":"S","27":"A","28":"B","29":"C","30":"D"};
        var format = "";
        var slevel = "";
        if(level){
            $('[data-level]').each(function(i,el){
                var id = $(el).data('level');
                if(id)$(el).attr('src','/Public/Pc/img/level/'+level[id].toLowerCase()+'.png');
            })
        }
        if(brand){
            $('[data-brand]').each(function(i,el){
                var id = $(el).data('brand');
                if(id)$(el).prepend(brand[id]+' ');
            })
        }
        selectFormat();
        //组合筛选项
        function selectFormat(){
            var sel = '';
            $('.m-filter li').each(function(i,el){
                var act = $(el).find('a.n');
                var url = '';
                if(act.length>0){
                    var p = '/'+$(el).attr('class')+'/'+act.data('i');
                    var url = act.attr('href').replace(p, "");
                    if($(el).hasClass('color')){
                        var excess = '';
                        if(act.hasClass('white'))excess = 'white';
                        sel += "<a class='argument n-"+$(el).attr('class')+" "+excess+"' href='"+url+"'><span style='background-color:"+act.data('col')+";'>"+act.text()+"</span><i class='i-icon'></i></a>";
                    }else{
                        sel += "<a class='argument n-"+$(el).attr('class')+"' href='"+url+"'><span>"+act.text()+"</span><i class='i-icon'></i></a>";
                    }
                }
            })
            $('.m-plist  .m-phead').append(sel);
        }
        //清空筛选
        if($('.m-phead>a')[0]){$('.m-filter .filter-hd span.f-fr').addClass('usable')};
        $(document).on("click",'.m-filter .filter-hd span.usable',function(){
            location.href = "/category/list/id/1/brand/1/model/72.html";
        })
        //机型展开
        $(document).on("selectstart",'.m-pmodel dt',function () { return false; });
        $('.m-pmodel dt').on('click',function(){
            var t = $(this);
            var dl = t.parent();
            dl.toggleClass('n').siblings().removeClass('n');
            s1.getSideH();
        });
        //显示更多按钮
    //        $('.m-filter .select').each(function(){
    //            var t = $(this);
    //            var h = t.height();
    //            var em = t.siblings('.more');
    //            if(h>54){
    //                em.show();
    //            }
    //        });
    //        //展开更多
    //        $('.m-filter li .more').on('click',function(){
    //            var t = $(this);
    //            var p = t.parent();
    //            var up = t.siblings('.up');
    //            p.height('auto');
    //            up.show();
    //            t.hide();
    //        });
    //        //收起更多
    //        $('.m-filter .up').on('click',function(){
    //            var t = $(this);
    //            var p = t.parent();
    //            var more = t.siblings('.more');
    //            p.outerHeight('54');
    //            more.show();
    //            t.hide();
    //        });
    var SuperSide=function(side){
        var self = this;
        this.side=$(side);
        this.direction = 0;
        this.sideH =this.side[0].getBoundingClientRect().height;
        this.isBottom="";
        this.settings = {
            "header":"header",
            "headergap":0,
            "footer":"footer",
            "footergap":0
        };
        $.extend(self.settings,self.getSetting());
        self.scrollrule();
    };

    SuperSide.prototype = {
        getSetting: function () {
            var settings = this.side.attr("data-settings");
            if (settings && settings != "") {
                return $.parseJSON(settings);
            } else {
                return {};
            };
        },
        scrollrule: function () {
            var self=this;
            var old = 0;
            var rt =0;
            var header=$(self.settings.header);
            var footer=$(self.settings.footer);
            var headerH=header.height()+self.settings["headergap"];
            var footerT=footer.offset().top-self.settings["footergap"];

            $(window).scroll(
                    function(e){
                        var windowH = parseFloat($(window).height());
                        var mainH =$(self.settings.content)[0].getBoundingClientRect().height;
                        if(self.sideH >= mainH){return false;}
                        var scrollT = $(window).scrollTop();
                        if((scrollT+windowH)>footerT){self.isBottom="ture"}else{self.isBottom="false"}
                        var sideT = parseFloat(self.side.offset().top);
                        (old <= scrollT) ? self.direction = 1 : self.direction = 0;
                        setTimeout(function(){old = scrollT;},0);
                        if (self.direction == 1) {
                            if(self.sideH <= windowH){
                                if(scrollT<headerH)return false;
                                if((scrollT+self.sideH)>footerT){
                                    self.side.css({'position':'absolute','top':headerH+mainH-self.sideH});
                                    return false;
                                };
                                self.side.css({'position':'fixed','top':0});
                                return false;
                            }
                            if((scrollT+windowH)>footerT){
                                self.side.css({'position':'absolute','top':headerH+mainH-self.sideH});
                                return false;
                            };
                            if(sideT+self.sideH>scrollT+windowH){
                                self.side.css({'position':'absolute','top':sideT});
                                return false;
                            }
                            self.side.css({'position':'fixed','top':windowH-self.sideH});
                        }else{
                            if(scrollT<headerH){
                                self.side.attr('style','');
                                return false;
                            };
                            if(sideT<scrollT){
                                self.side.css({'position':'absolute','top':sideT});
                                return false;
                            }
                            self.side.css({'position':'fixed','top':'0'});
                        }
                    }
            ).resize(function(){
                        $(this).trigger('scroll');
                    });
        },
        getSideH:function(){
            var oldSideH=this.sideH;
            this.sideH=this.side[0].getBoundingClientRect().height;
            if(this.isBottom=="ture"){
                var difference=this.sideH-oldSideH;
                var oldTop=parseFloat(this.side.css('top'));
                this.side.css('top',oldTop-difference);
            }

        }
    };

    var s1=new SuperSide($(".J_superSide"));
    
            })
</script>
       
            
    <footer class="m-footer">
        <div class="content">
            <div class="w">
                <div class="help">
                    <div class='c'>
                        <dl>
                            <dt>服务条款</dt>
                            <dd><a target="_blank" href="http://www.aifou.cn/article/index/issue/pj.html">评级标准</a></dd>
                            <dd><a target="_blank" href="http://www.aifou.cn/article/index/issue/sh.html">售后服务条款</a></dd>
                            <dd><a target="_blank" href="http://www.aifou.cn/article/index/issue/hs.html">回收服务条款</a></dd>
                            <dd><a target="_blank" href="http://www.aifou.cn/article/index/issue/wx.html">维修服务条款</a></dd>
                        </dl>
                        <dl>
                            <dt>为您解答</dt>
                            <dd><a target="_blank" href="http://www.aifou.cn/help/help.html">常见问题</a></dd>
                            <dd><a target="_blank" href="http://www.aifou.cn/careers/index.html">招贤纳士</a></dd>
                        </dl>
                    </div>
                    <p class="copyright"><a href="http://www.miibeian.gov.cn/">京ICP证160992号</a> Copyright© 2016-2021</p>
                </div>
                <div class="about">
                    <div class="servers c">
                        <div class='wecatimg c'><img src='picture/wecat_1.jpg'/></div>
                        <p class='media'>
                            <a class='weibo' href='http://weibo.com/FViewReLife'><i class='i-icon'></i><span>新浪微博</span></a>
                            <a class='wecat'>关注微信客服</a>
                        </p>
<!--                        <p class='time'>客服在线时间：9:00-18:00</p>-->
                        <p class='time'>客服热线：4001880166</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>

    <div class="u-tool">
        <a class="top i-icon"></a>
    </div>
<!--    <style>
        #cnzz_stat_icon_1259887539{display:none;}
    </style>
   <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259887539'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259887539' type='text/javascript'%3E%3C/script%3E"));</script>-->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?c521bcb9908e634b591b4ddaae2d13f9";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
<!--    <script src="js/count_1.js"></script>-->
    <script src="js/pc.min_1.js" id="zhichiload" ></script>
</body>
</html>
